.table-container {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    background-color: green;
    margin: 40px auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

ion-content {
    &.table-content {
        --background: transparent;
    }
}

.table-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 25%;
}
